#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  padding-top: 90px;
  text-align: justify;
  font-family: Arial, sans-serif;
}

.game-header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  z-index: 1000;
  display: flex;
  justify-content: space-between;
  align-items: top;
  height: fit-content;
  background-color: var(--color-secondary);
  color: var(--color-text);
  box-shadow: 0 8px 8px rgba(160, 160, 160, 0.08);
  margin-bottom: 2rem;
  padding: 1rem;
  flex-direction: column;
  border-radius: 0 0 10px 10px;
  font-size: 1.2rem;
  font-weight: bold;
}

.game-header nav {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 60px;
}

.game-title {
  font-size: 2rem;
  font-weight: bold;
  letter-spacing: 2px;
  margin: 0;
}
.game {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}

.x-mark {
  color: var(--color-error);
  font-weight: bold;
  font-size: 2rem;
}

.o-mark {
  color: var(--color-success);
  font-weight: bold;
  font-size: 2rem;
}

.reset-btn {
  background-color: var(--color-dialog-btn-bg);
  color: var(--color-dialog-btn-text);
  border: none;
  border-radius: 8px;
  padding: 0.5rem 1rem;
  font-size: 1rem;
  cursor: pointer;
  transition: background 0.2s, box-shadow 0.2s;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.06);
}

@media (max-width: 600px) {
  .reset-btn:hover {
    background: var(--color-dialog-btn-hover);
    scale: 1.05;
  }
  
}